*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 13px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    font-size: 32px;
    text-align: center;
    height: 60px;
    width: 60px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius:13px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hum_air{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

i {
    font-size: 38px;
}

.wind-container {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.humidity-container {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather {
    display: none;
}

.error {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
    color: aliceblue;
    display: none;
}